# Run scriv CI

name: "Test Suite"

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

defaults:
  run:
    shell: bash

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

env:
  PIP_DISABLE_PIP_VERSION_CHECK: 1
  PANDOC_VER: 3.6.3

jobs:
  tests:
    name: "Test on ${{ matrix.os }}"
    runs-on: "${{ matrix.os }}-latest"

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu
          - macos
          - windows

    steps:
      - name: "Check out the repo"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: "Set up Python"
        id: "setup-python"
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          # The last listed Python version is the default.
          python-version: |
            pypy-3.10
            3.10
            3.11
            3.12
            3.13
            3.14

      - name: "Restore cache"
        id: "restore-cache"
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            .tox/
            .venv/
          key: "cache-python-${{ steps.setup-python.outputs.python-version }}-os-${{ runner.os }}-hash-${{ hashFiles('tox.ini', 'requirements/*.txt') }}"

      - name: "Identify venv path"
        shell: "bash"
        env:
          VENV_PATH: ${{ runner.os == 'Windows' && '.venv/Scripts' || '.venv/bin' }}
        run: |
          echo "venv_path=${VENV_PATH}" >> $GITHUB_ENV

      - name: "Install dependencies"
        if: "steps.restore-cache.outputs.cache-hit == false"
        run: |
          python -m venv .venv
          ${venv_path}/python -m pip install -U setuptools
          ${venv_path}/python -m pip install -r requirements/tox.txt

      - name: "Install pandoc on Linux"
        # sudo apt-get pandoc: will install a version from 2018!
        if: runner.os == 'Linux'
        run: |
          wget -nv -O pandoc.deb https://github.com/jgm/pandoc/releases/download/${PANDOC_VER}/pandoc-${PANDOC_VER}-1-amd64.deb
          sudo apt install ./pandoc.deb

      - name: "Install pandoc on Mac"
        if: runner.os == 'macOS'
        run: |
          brew install pandoc

      - name: "Install pandoc on Windows"
        if: runner.os == 'Windows'
        run: |
          choco install -y -r --no-progress pandoc

      - name: "Run tox"
        run: |
          ${venv_path}/python -m tox -m ci-tests

      - name: "Upload coverage data"
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: covdata-${{ matrix.os }}
          path: .coverage.*
          include-hidden-files: true

  coverage:
    name: Coverage
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - name: "Check out the repo"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: "Set up Python"
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.12"
          cache: pip
          cache-dependency-path: 'requirements/*.txt'

      - name: "Install dependencies"
        run: |
          python -m pip install -U setuptools
          python -m pip install -r requirements/tox.txt

      - name: "Download coverage data"
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          pattern: covdata-*
          merge-multiple: true

      - name: "Combine and report"
        run: |
          python -m tox -e coverage
          export TOTAL=$(python -c "import json;print(json.load(open('coverage.json'))['totals']['percent_covered_display'])")
          echo "total=$TOTAL" >> $GITHUB_ENV
          echo "### Total coverage: ${TOTAL}%" >> $GITHUB_STEP_SUMMARY

      - name: "Make badge"
        if: (github.repository == 'nedbat/scriv') && (github.ref == 'refs/heads/main')
        # https://gist.github.com/nedbat/5a304c1c779d4bcc57be95f847e9327f
        uses: schneegans/dynamic-badges-action@e9a478b16159b4d31420099ba146cdc50f134483 # v1.7.0
        with:
          # GIST_TOKEN is a GitHub personal access token with scope "gist".
          # https://github.com/settings/tokens/969369418
          auth: ${{ secrets.GIST_TOKEN }}
          gistID: 5a304c1c779d4bcc57be95f847e9327f
          filename: covbadge.json
          label: Coverage
          message: ${{ env.total }}%
          minColorRange: 50
          maxColorRange: 90
          valColorRange: ${{ env.total }}

  docs:
    name: Docs
    runs-on: ubuntu-latest

    steps:
      - name: "Check out the repo"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: "Set up Python"
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.10"
          cache: pip
          cache-dependency-path: 'requirements/*.txt'

      - name: "Install dependencies"
        run: |
          python -m pip install -U setuptools
          python -m pip install -r requirements/tox.txt

      - name: "Build docs"
        run: |
          python -m tox -e docs

  quality:
    name: Linters etc
    runs-on: ubuntu-latest

    steps:
      - name: "Check out the repo"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: "Set up Python"
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.10"
          cache: pip
          cache-dependency-path: 'requirements/*.txt'

      - name: "Install dependencies"
        run: |
          python -m pip install -U setuptools
          python -m pip install -r requirements/tox.txt

      - name: "Linters etc"
        run: |
          python -m tox -e quality
